.news {
    .editor-landing {
        background: #eef5fa;
        border-radius: 30px;
        padding: 10px 10px;
    }
    
    .icon {
        width: min-content;
        height: min-content;
    }
}

