/node_modules
/public/hot
/public/storage
/public/compiled

/public/dev
/storage/*.key
/vendor
.env
.vscode
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
laravel-echo-server.lock
.DS_Store
.rnd
