@font-face {
    font-family: Poppins;
    src: url("./fonts/Poppins/Poppins-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

body,
html {
    padding: 0;
    margin: 0;
    background-color: #f8f9fe;
    color: #525f7f;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}
body,
button,
input {
    font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
}
* {
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

@import "@lib/argon/scss/argon";
@import "@lib/nucleo/scss/nucleo.scss";
@import "./elements/loading";
@import "./elements/navbar";
@import "./dist/home";
@import "./dist/unauth";
@import "./dist/customer";
@import "./elements/callout";
@import "./elements/sidebar";
@import "./elements/btn";

.notifyjs-corner {
    z-index: 9999 !important;
}

#nprogress {
    .bar {
        height: 3px !important;
        background: var(--primary) !important;
        z-index: 55441 !important;
    }
    .spinner {
        display: none !important;
    }
}

.page-item .page-link,
.page-item span {
    width: 26px !important;
    height: 26px !important;
}

.short-description {
    line-height: 1.55em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.acticle-blog {
    .cdx-underline {
        text-decoration: underline;
    }

    .ce-delimiter:before {
        display: inline-block;
        content: "***";
        font-size: 30px;
        line-height: 65px;
        height: 30px;
        letter-spacing: 0.2em;
    }

    .inline-code {
        background: rgba(250, 239, 240, 0.78);
        color: #b44437;
        padding: 3px 4px;
        border-radius: 5px;
        margin: 0 1px;
        font-family: inherit;
        font-size: 0.86em;
        font-weight: 500;
        letter-spacing: 0.3px;
    }

    .cdx-simple-image__picture--with-background {
        background: #eff2f5;
        padding: 10px;
    }

    .link-tool__description {
        line-height: 1.55em;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .cdx-simple-image__picture--with-background img {
        display: block;
        max-width: 60%;
        margin: 0 auto;
    }
    .cdx-simple-image img {
        vertical-align: bottom;
    }
}

.img-cover-full {
    border-radius: 4px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.clickable-a {
    cursor: pointer;
}

.clickable-list:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.turbolinks-progress-bar {
    height: 3px;
    background-color: var(--primary);
    z-index: 55441 !important;
}

.white-overlay {
    background-color: #ffffff;
    opacity: 0.7;
}
.card-status {
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    opacity: 0.8;
}
.blur--section {
    position: relative;
    .blur-item {
        padding-top: 1rem;
        z-index: 1;
        transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
        will-change: transform;
        filter: blur(10px);
    }

    .blur-content {
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        transition: all 0.15s ease;
    }
}

.no-footer {
    #footer-main {
        display: none;
    }
}

// #footer-main {
//     background-image: url("/img/svg/footer_shap.svg");
//     background-repeat: no-repeat;
//     background-position: 0 -1px;
//     background-size: 100% 200px;
// }
